/* Adjust flex properties for mobile */
@media only screen and (hover: none) and (pointer: coarse) {
  @media (max-width: 600px) {
    /* This is a general breakpoint for mobile devices, but you can adjust */
    .popup-container {
      max-width: 100vw; /* Ensure the container doesn't exceed the viewport width */
      max-height: 100vh; /* Ensure the container doesn't exceed the viewport height */
      flex-direction: column-reverse; /* Stack children vertically on smaller screens */
      overflow: auto; /* Allow scrolling if content is larger than viewport */
      padding: 1rem; /* Add some padding to the container */
      box-sizing: border-box; /* Make sure padding and border are included in the total width/height */
      font-size: 16px; /* Make text readable on mobile */
    }
    .form-container {
      width: 90vw;
      margin-bottom: 10px;
    }
    form-container-inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#root {
  width: max-content;
}

.popup-container {
  overflow-x: hidden;
}
.popup-container .react-tabs__tab-list {
  margin: 0;
}
.popup-preview-container {
}

.form-container {
}
.preview-text-area {
  min-height: calc(250px - 35.5px);
}
